<div class="contenedor">
  <div class="card">
    <div class="card-header">
      <h1>Bromas de Chuck Norris</h1>
      <img class="imagenChuck" src="../assets/chuck.png" alt="Chuck Norris">
    </div>
    <div class="card-body">
      <button class="button-17" (click)="obtenerNuevaBromaAleatoria()">Obtener Broma Aleatoria</button>
      <button class="button-17" (click)="obtenerCategorias()">Obtener Categorias</button>
    </div>
    <div class="card-footer" *ngIf="bromaAleatoria" >
      <p>{{ bromaAleatoria.value }}</p>
    </div>
    <div class="card-footer" *ngIf="categorias" >
      <p>{{ categorias }}</p>
    </div>
  </div>
</div>
<div class="contenedor">
  <form class="row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        id="textoBusqueda"
        name="textoBusqueda"
        placeholder="Buscar bromas"
        [(ngModel)]="textoBusqueda"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary" (click)="buscarBromas()">
        Realizar Busqueda
      </button>
    </div>
  </form>
</div>
<div class="contenedor" *ngIf="mostrarTabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CONTENIDO</th>
        <th scope="col">CATEGORIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let broma of busquedaBromas.result">
        <th scope="row">{{ broma.id }}</th>
        <td>{{ broma.value }}</td>
        <td>{{ broma.categories.join(", ") }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="contenedor" *ngIf="!mostrarTabla && mensajeNoResultados">
  {{mensajeNoResultados}}
</div>

